Minimum hardware requirements:

* 256 MB of RAM
* 1 GB of drive space (although 10 GB is a recommended minimum if running
  Jenkins as a Docker container)

Recommended hardware configuration for a small team:

* 4 GB+ of RAM
* 50 GB+ of drive space

Comprehensive hardware recommendations:

* Hardware: see the  page

Software requirements:

* Java: see the  page
* Web browser: see the  page
* For Windows operating system:
* For Linux operating system:
* For servlet containers: